{% extends "account/login.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}  

{% block title %} Cambio de contraseña - Clarity 2.0{% endblock title%}

{% block body_class %}
<body class="horizontal-layout horizontal-menu 1-column  bg-full-screen-image blank-page blank-page" data-open="hover" data-menu="horizontal-menu" data-col="1-column">
{% endblock body_class %}

{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-6 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                                <div class="card-header border-0 pb-0">
                                    <div class="card-title text-center">
                                        <img src="{% static 'dist/img/logo.png' %}" alt="branding logo">
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Crea tu nueva contraseña, para iniciar sesión.</span></p>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        {% if token_fail %}
                                        {% url 'account_reset_password' as passwd_reset_url %}
                                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                                        {% else %}
                                        {% if form %}
                                        <form class="form-horizontal" method="POST" action="{{ action_url }}" class="password_reset" novalidate>
                                            {% csrf_token %}
                                            <fieldset class="form-group position-relative has-icon-left">
                                                {% render_field form.password1 type="password" name="password1" maxlength="150" class="form-control"  placeholder="Contraseña" autocomplete="new-password" required="" id="id_password1" %}
                                                                                  <div class="form-control-position">
                                                                                      <i class="fa fa-key"></i>
                                                                                  </div>
                                                                              </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                                                                {% render_field form.password2 type="password" name="password1" maxlength="150" class="form-control"  placeholder="Contraseña (de nuevo)" required="" id="id_password2" %}
                                                                                <div class="form-control-position">
                                                                                    <i class="fa fa-key"></i>
                                                                                </div>
                                                                            </fieldset>
                                            <button type="submit" class="btn btn-outline-primary btn-lg btn-block"><i class="feather icon-unlock"></i> Cambiar Contraseña</button>
                                        </form>
                                        {% else %}
                                        <p>{% trans 'Your password is now changed.' %}</p>
                                    {% endif %}
                                {% endif %}
                                    </div>
                                    {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger alert-dismissible fade show">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                    {% endif %}
                                                    
                                </div>
                                <div class="card-footer border-0">
                                    <p class="float-sm-left text-center"><a href="{{ login_url }}" class="card-link">Iniciar sesión</a></p>
                                    <p class="float-sm-right text-center">¿Nuevo Usuario? <a href="{% provider_login_url 'google' %}" class="card-link">Crear Usuario</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->

{% endblock content %}



