{% extends "account/login.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}  

{% block title %}Reestablecido - Clarity 2.0{% endblock title %}

{% block body_class %}
<body class="horizontal-layout horizontal-menu horizontal-menu-padding 1-column  bg-full-screen-image blank-page blank-page" data-open="hover" data-menu="horizontal-menu" data-col="1-column">
{% endblock body_class %}

{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-5 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                                <div class="card-header border-0 pb-0">
                                    <div class="card-title text-center">
                                        <img src= "{% static 'dist/img/logo.png' %}" alt="Verne 2.0">
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Revisa tu correo.</span></p>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <span class="text-muted">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</span>
                                    </div>
                                </div>
                                <div class="card-footer border-0">
                                    <a type="submit"  href="{% url 'account_login' %}" class="btn btn-primary btn-block"><i class="feather icon-unlock"></i> Iniciar sesión</a>
                                    <p class="float-sm-right text-center">¿Nuevo Usuario? <a href="{% url 'account_signup' %}" class="card-link">Crear Usuario</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->

{% endblock content %}
