{% extends 'base_template_admin.html' %}
{% block titulo %}Verne | Asignar Puntos{% endblock titulo %}
{% load staticfiles %}
{% load widget_tweaks %} 

{% block extra_css %}
  <link href="{% static 'vendor/select2/dist/css/select2.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'dist/css/verne/prize/register_leguas.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">

  <link href="{% static 'dist/css/verne/prize/register_leguas.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block body_content %}
<div class="content-wrapper  pb-5">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'prize:visualize_user' %}">Lista de Usuarios</a></li>
              <li class="breadcrumb-item active">Asignar Puntos</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container">      
          <div class="col-md-8 container  ">
            <div class="card shadow mb-4">
            <div class="card-header"> 
                 <div class="text-center"><br>
                    <h3 class="title-text ">Asignar puntos</h3>
                    <p>¿Una nueva actividad o idea?
                    Registra sus puntos aquí  </p> 
                </div>
            </div> 
            <div class="card-body">
              <form class=" border-light p-3 row" method="POST">   {% csrf_token %}
               
                 <div class="col-md-6">
                    <p class="col-form-label text-muted">Nombre</p>
                      {{ form.name }}</div>
                 <div class="col-md-3">
                    <p class="col-form-label text-muted">Puntos</p>
                      {{ form.score }}</div>

                  <div class="col-md-3">
                    <p class="col-form-label text-muted">Fecha</p>
                    <div class="input-group date" id="date_picker" data-target-input="nearest">
                      {% render_field form.date  %}
                    <div class="input-group-append" data-target="#date_picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                  </div> 
                </div>

                 <div class="col-md-12">
                    <p class="col-form-label text-muted">Descripción</p>
                      {{ form.description }}</div>
                 <div class="col-md-12">
                    <p class="col-form-label text-muted">Asignar puntos por una idea</p>
                    {% render_field form.id_idea class="form-control" id="activate_select_idea" %}</div>
                  <div class="col-md-12">
                    <p class="col-form-label text-muted">Usuarios a asignar</p>
                      {% render_field form.id_user class="form-control" id="activate_select_usuarios" %}
                  </div> 
                
                <div class="card card-header text-muted title-note text-center asistencia mt-5 mb-3"> Recuerda que para asignar puntos por actividad debes dirigirte a la sección de cada una y canjearlos</div>  
                <button class="btn btn-info btn-block col-md-4 container rounded-pill" type="submit"> <i class="fas fa-paper-plane pr-2"></i> Asignar puntos</button>
             </form> 
            </div>
           </div>
          </div>    
        </div>
     </section>
  </div> 
{% endblock body_content %}

{% block extra_js %}
<script src="{% static 'vendor/select2/dist/js/select2.full.js' %}" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'dist/js/verne/leguas/register_leguas.js' %}"></script>

  <!-- InputMask Fija los campos de la fecha dd/mm/yyyy -->
  <script src="{% static 'plugins/moment/moment.min.js'%}"></script>
  <script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js'%}"></script>
  <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>

  <!-- Bootstrap Switch -->
  <script type="text/javascript">
        //Datemask dd/mm/yyyy
      $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
      //Datemask2 mm/dd/yyyy
      $('#datemask2').inputmask('HH:mm', { 'placeholder': 'HH:mm' })
      //Money Euro
      $('[data-mask]').inputmask()
  </script>
  <script>

     //Datepicker
      $('#date_picker').datetimepicker({
        format: 'DD/MM/YYYY'
      })
  </script>
{% endblock extra_js %}
