{% extends 'base_template_admin.html' %}
{% load staticfiles %}
{% block titulo %}Verne | Upload {% endblock titulo %}

{% block body_content %}
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'activity:view_activity' %}">Mis actividades</a></li>
              <li class="breadcrumb-item active"> Subir Archivo </li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <style type="text/css">
      .nube{
          font-size:110px;color:#00ada1;
        }
    </style>

    <section class="content">
            <h4 class=" col-md-6 container ">Adjuntar archivo</h4>
             <div class="card-body">
              <form enctype="multipart/form-data"  method="post" class="form-row"> {% csrf_token %} 
                 <div class="col-md-12 text-center">                
                  <div class="col-md-6 container card border border-info pb-4">
                   <br>
                    <p>Selecciona un archivo</p>
                     <i class=" nube fas fa-cloud-upload-alt "></i>
                     <div class="upload">
                      <br> {{ form.annexed}}
                    </div> 
                  </div>
                  <div class="card col-md-6 container  mb-4">
                    <div class="card-header text-muted"> Archivos subidos anteriormente </div>
                    <div class="card-body">
                    {% if path.annexed %}
                    <a href="{{ path.annexed.url }}">{{ path.annexed.url }}</a>
                    {% else %}
                    <p>Aún no se han subido archivos </p>
                    {% endif %}
                    </div>        
                  </div>
                <button class="btn btn-info rounded-pill "type="submit" value="Save"><i class="fas fa-paper-plane pr-2"></i>Enviar archivo</button>
                 <a class="btn btn-outline-secondary rounded-pill" href="{% url 'activity:update_activity' pk %}" > Regresar </a>
                </div>
              </form> 
         </div>
    </section>
</div>
{% endblock body_content %}

