{% load staticfiles %}


<div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">

        <div class="modal-header"><br>
            <span class="font-weight-bold">Actualiza tus datos </span>
            <button class="close" type="button" data-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
           <div class="row">
            <div class="container">
              {% if request.user.is_authenticated %}   
              
                    <div>
                        <form method="POST" action="{% url 'users:edit_data' request.user.profile.id %}"> {% csrf_token %}

                            <div class="col-md-12 ">
                               <label> {{ form.rol_company.label }}</label>
                                {{ form.rol_company }}
                            </div>

                            <div class="col-md-12 mt-3">
                            <label>{{ form.biografy.label }}</label>
                                {{ form.biografy }}
                            </div>

                            <div class="text-center">
                                <button class="btn btn-info col-md-4 mt-3 container btn-sm rounded-pill" type="submit"><i class="fas fa-paper-plane pr-2"></i> Actualizar perfil</button>
                            </div>
                        </form>
                    </div>
            
            {% endif %}
             </div>
          </div>
      </div>
  </div>
</div>



